[submodule "nodejs_ms/customer"]
	path = nodejs_ms/customer
	url = https://github.com/hansebastian97/nodejs_customer.git
[submodule "nodejs_ms/products"]
	path = nodejs_ms/products
	url = https://github.com/hansebastian97/nodejs_products.git
[submodule "nodejs_ms/shopping"]
	path = nodejs_ms/shopping
	url = https://github.com/hansebastian97/nodejs_shopping.git
[submodule "nodejs_frontend"]
	path = nodejs_ms/nodejs_frontend
	url = https://github.com/hansebastian97/nodejs_frontend.git